.cart-container {
    position: relative;
}

.cart-item-count {
    position: absolute;
    top: -5px;
    right: 15px;
    border: 1px solid red;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 10pt;
}