<div class="container">
    <div class="jumbotron">
      <h1>Inventory app</h1>
      <p>Simple inventory app using angular 2.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-sm-offset-11">
          <app-shopping-cart-notification>Loading...</app-shopping-cart-notification>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <app-menu>Loading...</app-menu>
        </div>
        <div class="col-sm-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>